<div class="nav">
    <div class="navbar">
        <h1 class="blog__logo">WS Blog</h1>
        <ul class="navbar">
            <a class="nav__itens" href="/home">Articles</a>
            <a class="nav__itens" href="/about">About Me</a>
            <a class="nav__itens" href="/post">New Post</a>
        </ul>
    </div>
</div>
