.note__card {
    border: 1px solid #fff;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    color:#fff;
    position: relative;
    top: 100px;
    left: 30%;
}