<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
  </head>
  <body>
    <% if (kindOfday === "Thursday") { %>
    <h1 style="color: pink; font-family: 'Courier New', Courier, monospace">
      It's a <%= kindOfday %>
    </h1>
    <% } else { %>
    <h1 style="color: pink; font-family: 'Courier New', Courier, monospace">
      It's a <%= kindOfday %>
    </h1>
    <% } %>
  </body>
</html>
