 /* .App {
    background-color: #1163af;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100vh;
} */
/*
.App h1 {
    position: relative;
    top: 20%;
}


button {
    position: relative;
    top: 40%;
    height: 50px;
    width: 40%;
    font-size: 1rem;
    cursor: pointer;
} */