body {
    background-color: brown;
}

.colors{
    background-color: chocolate;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translateY(-10px);
    transition: .5s;
}

.huge {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translateY(10px);
    transition: .5s;
    margin-right: 30px;
}