<%- include('templates/header'); %>
  <body>
    <%- include('templates/menu') %>
    <div class="about__section">
      <div class="about">
        <div class="icon">
          <img src="icon.jpeg" alt="icon" class="icon__img">
        </div>
        <h1>Hi, Welcome!</h1>

        <p class="about__me">
          I'm Waliston from Brazil, an information systems student and a JavaScript Full Stack Developer Jr, I've been spend a lot time in my studies and planning my future as a developer, and inhaling a wide variety of potentially useless information through a few hundred RSS feeds. I build websites that delight and inform. I do it well.
          
          I’m curious, and I enjoy work that challenges me to learn something new and stretch in a different direction. I do my best to stay on top of changes in the state of the art so that I can meet challenges with tools well suited to the job at hand. 
        </p>
      </div>
    </div>
  </body>
<%- include('templates/bottom') %>
